## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
tf.__version__

'2.8.0'

## Data Preprocessing

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
X = dataset.drop(['RowNumber','CustomerId','Surname','Exited'],axis=1)

In [6]:
y = dataset['Exited']

## Encoding Categorical data

In [7]:
X = pd.get_dummies(X,drop_first=True)

In [8]:
y = pd.get_dummies(y,drop_first=True)

In [9]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
sc = StandardScaler()

In [14]:
X_train = sc.fit_transform(X_train)

In [15]:
X_test = sc.transform(X_test)

# Building ANN

In [16]:
ann = tf.keras.models.Sequential()

In [17]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [18]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [19]:
ann.add(tf.keras.layers.Dense(units=3,activation='relu'))

In [20]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# Training ANN

In [21]:
ann.compile(optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy'])

In [22]:
ann.fit(X_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 2s 3ms/step - loss: 0.6658 - accuracy: 0.6795
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4872 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4493 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4293 - accuracy: 0.7966
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4065 - accuracy: 0.8073
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3864 - accuracy: 0.8173
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3759 - accuracy: 0.8183
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3711 - accuracy: 0.8189
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3675 - accuracy: 0.8189
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3653 - accuracy: 0.8195
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3626 - accuracy: 0.8350
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3601 - accuracy: 0.8524
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3579 - accuracy: 0.8545
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3560 - accuracy: 0.8550
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3543 - accuracy: 0.8559
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3526 - accuracy: 0.8561
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3506 - accuracy: 0.8594
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3491 - accuracy: 0.8581
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3476 - accuracy: 0.8600
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3465 - accuracy: 0.8601
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3455 - accuracy: 0.8600
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3443 - accuracy: 0.8600
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3430 - accuracy: 0.8644
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3426 - accuracy: 0.8629
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3415 - accuracy: 0.8634
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8625
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3403 - accuracy: 0.8615
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3403 - accuracy: 0.8616
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3396 - accuracy: 0.8619
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3391 - accuracy: 0.8637
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3384 - accuracy: 0.8616
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3384 - accuracy: 0.8621
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3380 - accuracy: 0.8631
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3373 - accuracy: 0.8622
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3367 - accuracy: 0.8633
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3371 - accuracy: 0.8637
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3365 - accuracy: 0.8626
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3363 - accuracy: 0.8636
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3357 - accuracy: 0.8648
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3358 - accuracy: 0.8640
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3354 - accuracy: 0.8641
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3352 - accuracy: 0.8649
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3349 - accuracy: 0.8641
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3351 - accuracy: 0.8635
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8622
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8633
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8643
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8660
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3343 - accuracy: 0.8650
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3341 - accuracy: 0.8652
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3339 - accuracy: 0.8637
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3337 - accuracy: 0.8636
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3333 - accuracy: 0.8661
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3337 - accuracy: 0.8652
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3336 - accuracy: 0.8640
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3334 - accuracy: 0.8669
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3334 - accuracy: 0.8644
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3330 - accuracy: 0.8669
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3331 - accuracy: 0.8635
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3326 - accuracy: 0.8649
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3327 - accuracy: 0.8646
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3324 - accuracy: 0.8656
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3325 - accuracy: 0.8656
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3322 - accuracy: 0.8648
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3320 - accuracy: 0.8668
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3319 - accuracy: 0.8651
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3315 - accuracy: 0.8648
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3319 - accuracy: 0.8656
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3317 - accuracy: 0.8665
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3313 - accuracy: 0.8659
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3315 - accuracy: 0.8671
Epoch 72/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3313 - accuracy: 0.8655
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3314 - accuracy: 0.8651
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3307 - accuracy: 0.8661
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3309 - accuracy: 0.8666
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3309 - accuracy: 0.8654
Epoch 77/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3304 - accuracy: 0.8656
Epoch 78/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3301 - accuracy: 0.8666
Epoch 79/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3305 - accuracy: 0.8654
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3303 - accuracy: 0.8650
Epoch 81/100

250/250 [==============================] - 1s 4ms/step - loss: 0.3301 - accuracy: 0.8651
Epoch 82/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3306 - accuracy: 0.8651
Epoch 83/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3301 - accuracy: 0.8652
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3301 - accuracy: 0.8654
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3297 - accuracy: 0.8655
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3300 - accuracy: 0.8660
Epoch 87/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3298 - accuracy: 0.8671
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3296 - accuracy: 0.8651
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3295 - accuracy: 0.8656
Epoch 90/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3291 - accuracy: 0.8651
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3294 - accuracy: 0.8671
Epoch 92/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3297 - accuracy: 0.8660
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3294 - accuracy: 0.8660
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3295 - accuracy: 0.8664
Epoch 95/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3289 - accuracy: 0.8658
Epoch 96/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3291 - accuracy: 0.8668
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3289 - accuracy: 0.8655
Epoch 98/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3286 - accuracy: 0.8665
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3287 - accuracy: 0.8658
Epoch 100/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3289 - accuracy: 0.8661

In [23]:
print(ann.predict(sc.transform([[600,40,3,60000,2,1,1,50000,0,0,1]]))>0.5)

[[False]]

C:\Users\Vijay\anaconda3\envs\tensorflow\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [24]:
y_pred = ann.predict(X_test)

In [25]:
y_pred = y_pred>0.5

In [26]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [30]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [28]:
accuracy_score(y_test,y_pred)

0.8625

In [29]:
confusion_matrix(y_test,y_pred)

array([[1523,   72],
       [ 203,  202]], dtype=int64)

In [32]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.95      0.92      1595
           1       0.74      0.50      0.59       405

    accuracy                           0.86      2000
   macro avg       0.81      0.73      0.76      2000
weighted avg       0.85      0.86      0.85      2000